@media (min-width: 1024px){

  nav{
    margin: 20px 20px 25px 20px;
    font-size: 16px;
    line-height: 20px;
    max-width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }


  .main{
    margin: 14vh 20px 0px 20px;
  }


  .eye{
    z-index: -100;
    position: fixed;
    bottom: 1%;
    top: 1%;
    left: 1%;
    right: 1%;

    width: 100vw;
    height: 100vh;

    background-image: url(../img/eye.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


  }



  #about {
    z-index: 1;
    position: fixed;
    top: 0%;
    right: 0;

    width: 30%;
    height: 100%;
    background: rgba(0,0,0,0.30);
    backdrop-filter: blur(20px);

    overflow: scroll;

    padding-bottom: 0%;

    display: block;
  }


  #about p{
    font-size: 20px;
    line-height: 27px;
    padding: 20px 30px 20px 30px;
  }

  #about h1{

    padding: 40px 30px 20px 30px;
    font-size: 45px;
    line-height: 45px;
  }




  footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0px 20px 0 40vw;

    font-family: "ALS_Sector_Regular_2.0";
    font-size: 15px;

  }

}
