@media (min-width: 1440px){

  nav{
    margin: 60px 20px 25px 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo {
    width: 250px;
  }

  .main{
    margin: 14vh 20px 0px 60px;
  }


  #about-us {
    width: 43%;
  }

  #germanium {
    width: 43%;
  }


  #germanium-granules {
    width: 43%;
  }


  #germanium-optics {
    width: 43%;
  }

  #germanium-dioxide {
    width: 43%;
  }

  #polycrystalline-germanium {
    width: 43%;
  }

  #silicon {
    width: 43%;
  }

  #zinc-selenide {
    width: 43%;
  }

  #zinc-sulfide {
    width: 43%;
  }

  #recycling {
    width: 43%;
  }

  #contact-us {
    width: 43%;
  }

  button{
    font-size: 25px;
  }




  .sidebar p, input{
    font-size: 25px;
    line-height: 32px;
    padding: 20px 90px 20px 90px;
  }


  .sidebar h1{

    padding: 40px 90px 20px 90px;
    font-size: 50px;
    line-height: 55px;
  }



  footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 3vh 80px 0 45%;

    font-family: "ALS_Sector_Regular_2.0";

    width: 90%;
  }



}
