@media (min-width: 320px){


  nav{
    margin: 20px 20px 25px 20px;
    font-size: 16px;
    line-height: 20px;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }


  .sidebar-about-us, .sidebar-germanium, .sidebar-germanium-granules, .sidebar-germanium-optics, .sidebar-germanium-dioxide, .sidebar-polycrystalline-germanium, .sidebar-silicon, .sidebar-zinc-selenide, .sidebar-zinc-sulfide, .sidebar-recycling{
   box-shadow: -3px 0 15px 0 rgba(0,0,0,0.0);
 }


  .logo {
    width: 200px;
  }



  .overview p{
    margin: 20px 0px 20px 0px;
    max-width: 350px;
  }

  .contacts li{
    padding: 0px 20px 20px 0px;
  }


  .main{
    margin: 40px 20px 25px 20px;
  }

  .is-about, .is-germanium, .is-silicon, .is-zinc, .is-recycling, .is-contact{
    margin-top: 40px;
  }

  .is-germanium li, .is-zinc li{
    margin-top: 10px;
  }

  .is-studio-logo{
    margin: 40px 20px 25px 20px;
  }


  .sidebar p, input{
    font-size: 18px;
    line-height: 27px;
    padding: 10px 20px 20px 20px;
  }

  .sidebar h1{
    font-size: 30px;
    line-height: 35px;
    padding: 40px 20px 20px 20px;
  }


  #about-us {
    width: 100%;
    height: 100%;

    padding-bottom: 100%;


    bottom: 100%;


  }

  #about-us.active{
    bottom: 0%;
  }


  #germanium {
    width: 100%;
    height: 100%;

    padding-bottom: 100%;

    bottom: 100%;
  }

  #germanium.active{
    bottom: 0%
  }


  #germanium-granules {
    width: 100%;
    height: 100%;

    padding-bottom: 100%;

    bottom: 100%;

  }

  #germanium-granules.active{
    bottom: 0%
  }


  #germanium-optics {
    width: 100%;
    height: 100%;

    padding-bottom: 100%;


    bottom: 100%;



  }

  #germanium-optics.active{
    bottom: 0%
  }


  #germanium-dioxide {

    width: 100%;
    height: 100%;

    padding-bottom: 100%;

    bottom: 100%;


  }

  #germanium-dioxide.active{
    bottom: 0%
  }




  #polycrystalline-germanium {

    width: 100%;
    height: 100%;

    padding-bottom: 100%;

    bottom: 100%;

  }



  #polycrystalline-germanium.active{
    bottom: 0%
  }


  #silicon {
    width: 100%;
    height: 100%;

    padding-bottom: 100%;


    bottom: 100%;

  }



  #silicon.active{
    bottom: 0%
  }


  #zinc-selenide {

    padding-bottom: 100%;

    bottom: 100%;t;

  }



  #zinc-selenide.active{
    bottom: 0%
  }



  #zinc-sulfide {

    padding-bottom: 100%;
    bottom: 100%;


  }

  #zinc-sulfide.active{
    bottom: 0%
  }


  #recycling {

    padding-bottom: 100%;

    bottom: 100%;

  }

  #recycling.active{
    bottom: 0%
  }


  #contact-us {

    padding-bottom: 100%;

    bottom: 100%;

  }

  #contact-us.active{
    bottom: 0%
  }



  #eye{
    position: fixed;
  }


  .eye{

    bottom: 20px;
    top: auto;

    width: 100vw;
    height: 100vw;

    background-image: url(../img/eye.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


  }

  .rotate{

    width: calc(95%);
    height: calc(95%);

    background-image: url(../img/rotate.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  button{
    font-size: 16px;
  }


  .is {
    display: flex;
    margin: auto;
    border-radius: 100%;
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: initial;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 80px 20px 0 20px;

    font-family: "ALS_Sector_Regular_2.0";
    font-size: 15px;
  }

  .art-lebedev-logo {
    margin-bottom: 8vh;
  }

  .is-copyright p{
    text-align: center;
    margin-top: 100%;

    font-family: "ALS_Sector_Regular_2.0",sans-serif;
    font-size: 14px;
  }






}
