@media (min-width: 320px){


  nav{
    display: flex;

    max-width: 450px;
    margin: 20px 20px 25px 20px;

    font-size: 18px;
    line-height: 27px;

    flex-wrap: wrap;
    align-items: flex-start;
  }



  .logo {
    width: 200px;
  }



  nav p{
    max-width: 600px;
    margin: 20px 0px 0px 0px;
  }

  .contacts li{
    margin: 0px 10px 10px 0px;
    padding: 10px 3px 10px 3px;
  }

  nav ul{
    max-width: 400px;
    margin-left: -13px;
    padding: 20px 10px 8px 0px;

    white-space: nowrap;
  }


  .main{
    max-width: 310px;
    margin: 40px 10px 25px 10px;
  }

  .is-about, .is-germanium, .is-silicon, .is-zinc, .is-recycling, .is-contact{
    margin-top: 40px;
  }

  .main li{
    margin-top: 20px;
  }



  .is-studio-logo{
    margin: 40px 20px 25px 20px;
  }


  .sidebar p, input{
    padding: 10px 20px 20px 20px;

    font-size: 20px;
    line-height: 27px;
  }

  .sidebar h1{
    padding: 40px 20px 20px 20px;

    font-size: 35px;
    line-height: 40px;
  }


  #about-us {
    bottom: 120%;

    width: 100%;
    height: 100%;
    padding-bottom: 5%;
  }


  #about-us.active{
    bottom: 0%;
  }


  #germanium {
    bottom: 120%;

    width: 100%;
    height: 100%;
    padding-bottom: 5%;
  }

  #germanium.active{
    bottom: 0%
  }


  #germanium-granules {
    bottom: 120%;

    width: 100%;
    height: 100%;
    padding-bottom: 5%;

  }

  #germanium-granules.active{
    bottom: 0%
  }


  #germanium-optics {
    bottom: 120%;

    width: 100%;
    height: 100%;
    padding-bottom: 5%;



  }

  #germanium-optics.active{
    bottom: 0%
  }


  #germanium-dioxide {
    bottom: 120%;

    width: 100%;
    height: 100%;
    padding-bottom: 5%;


  }

  #germanium-dioxide.active{
    bottom: 0%
  }




  #polycrystalline-germanium {
    bottom: 120%;

    width: 100%;
    height: 100%;
    padding-bottom: 5%;

  }



  #polycrystalline-germanium.active{
    bottom: 0%
  }


  #silicon {
    bottom: 120%;

    width: 100%;
    height: 100%;
    padding-bottom: 5%;

  }



  #silicon.active{
    bottom: 0%
  }


  #zinc-selenide {
    bottom: 120%;

    padding-bottom: 5%;

  }



  #zinc-selenide.active{
    bottom: 0%
  }



  #zinc-sulfide {
    bottom: 120%;

    padding-bottom: 5%;


  }

  #zinc-sulfide.active{
    bottom: 0%
  }


  #recycling {
    bottom: 120%;

    padding-bottom: 5%;

  }

  #recycling.active{
    bottom: 0%
  }


  #contact-us {
    bottom: 120%;

    padding-bottom: 5%;

  }

  #contact-us.active{
    bottom: 0%
  }



  #eye{
    position: fixed;
  }


  .eye{
    top: auto;
    bottom: 20px;

    width: 100vw;
    height: 100vw;

    background-image: url(../img/eye.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;


  }

  .rotate{
    width: calc(95%);
    height: calc(95%);

    background-image: url(../img/rotate.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  button{
    font-size: 18px;
  }


  .is {
    display: flex;

    margin: auto;

    border-radius: 100%;
  }

  footer{
    display: flex;
    flex-direction: column;

    margin: 80px 20px 0 20px;

    font-family: "ALS_Sector_Regular_2.0";
    font-size: 15px;

    justify-content: space-between;
    align-items: initial;
    flex-wrap: wrap;
  }

  .art-lebedev-logo {
    margin-bottom: 8vh;
  }

  .art-lebedev-logo p {
    padding: 5px 7px;
  }

  .is-copyright p{
    margin-top: 100%;

    text-align: center;

    font-family: "ALS_Sector_Regular_2.0",sans-serif;
    font-size: 14px;
  }






}
