@media (min-width: 768px){

  nav{
    margin: 30px 20px 25px 30px;
    font-size: 18px;
    line-height: 22px;
    max-width: 700px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  nav a{
    padding: 8px 10px 8px 10px;
  }

  nav p{
    margin: 0px 0px 0px 0px;
    max-width: 350px;
  }




  .main{
    margin: 60px 20px 0px 30px;
    font-family: "ALS_Sector_Bold_2.0",sans-serif;
    font-size: 20px;
    line-height: 26px;

    max-width: 340px;
  }

  .main li{
    margin-top: 5px;
  }



  .overview p{
    margin: 20px 0px 20px 0px;
    max-width: 250px;
  }

  #eye{
    position: fixed;
  }

  .eye{

    bottom: 0px;
    width: 100vw;
    height: 100vh;

    background-image: url(../img/eye.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .rotate{

    width: calc(95%);
    height: calc(95%);

    background-image: url(../img/rotate.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }


  .is {
    display: flex;
    margin: auto;
    border-radius: 100%;
  }


  #staff{
    width: calc(100%/2);
    height: calc(100%/2);

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

  }

  #staff.germanium{
    background-image: url(../img/germanium.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #staff.dioxide{
    background-image: url(../img/dioxide.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #staff.granules{
    background-image: url(../img/granulas.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #staff.selenide{
    background-image: url(../img/selenide.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #staff.silicon{
    background-image: url(../img/silicon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #staff.gpz{
    background-image: url(../img/gpz.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #staff.gpz{
    background-image: url(../img/gpz.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }



  .is-copyright {
    position: relative;
    text-align: center;

    font-family: "ALS_Sector_Regular_2.0",sans-serif;

    margin: auto;
  }



  footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    font-family: "ALS_Sector_Regular_2.0";
    font-size: 16px;

    margin: 60px 0px 15px 32%;
  }


  .art-lebedev-logo {
    margin: auto;
  }

  .is-copyright p{
    text-align: center;
    margin-top: 10%;
    font-size: 16px;
  }

  button{
    font-size: 18px;
  }

  .sidebar p, input{
    font-size: 18px;
    line-height: 22px;
    padding: 10px 40px 20px 40px;
  }

  .sidebar h1{
    padding: 20px 40px 20px 40px;
    font-size: 35px;
    line-height: 40px;
  }






  #about-us {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #about-us.active{
    right: 0%
  }

  #about-us.close{
    right: -100%;

  }


  #germanium {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #germanium.active{
    right: 0%
  }


  #germanium.close{
    right: -100%;

  }


  #germanium-granules {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #germanium-granules.active{
    right: 0%
  }


  #germanium-granules.close{
    right: -100%;

  }



  #germanium-optics {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #germanium-optics.active{
    right: 0%
  }


  #germanium-optics.close{
    right: -100%;

  }


  #germanium-dioxide {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #germanium-dioxide.active{
    right: 0%
  }


  #germanium-dioxide.close{
    right: -100%;

  }


  #polycrystalline-germanium {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #polycrystalline-germanium.active{
    right: 0%
  }


  #polycrystalline-germanium.close{
    right: -100%;

  }




  #silicon {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #silicon.active{
    right: 0%
  }


  #silicon.close{
    right: -100%;

  }



  #zinc-selenide {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #zinc-selenide.active{
    right: 0%
  }


  #zinc-selenide.close{
    right: -100%;

  }




  #zinc-sulfide {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #zinc-sulfide.active{
    right: 0%
  }


  #zinc-sulfide.close{
    right: -100%;

  }


  #recycling {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #recycling.active{
    right: 0%
  }


  #recycling.close{
    right: -100%;

  }



  #contact-us {
    right: -100%;
    top: 0%;
    padding-bottom: 10%;
    width: 55%;
    height: 100%;
  }

  #contact-us.active{
    right: 0%
  }


  #contact-us.close{
    right: -100%;

  }


}
