@media (min-width: 768px){

  nav{
    margin: 20px 20px 25px 20px;
    font-size: 16px;
    line-height: 20px;
    max-width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .main{
    margin: 110px 20px 0px 20px;
  }


  .overview p{
    margin: 20px 0px 20px 0px;
    max-width: 350px;
  }

  .eye{
    z-index: -100;
    position: absolute;
    bottom: 1%;
    top: 1%;
    left: 1%;
    right: 1%;

    width: 100vw;
    height: 100vh;

    background-image: url(../img/eye.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


  }

  .rotate{

    width: calc(95%);
    height: calc(95%);

    background-image: url(../img/rotate.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .staff{

    width: calc(100%/2);
    height: calc(100%/2);

    background-image: url(../img/germanium.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

  }
  .is {
    display: flex;
    margin: auto;
    border-radius: 100%;
  }

  .is-studio-logo{
    margin: 40px 20px 0px 20px;
  }

  .is-copyright {
    position: relative;
    text-align: center;
    margin-top: 0%;

    font-family: "ALS_Sector_Regular_2.0",sans-serif;
    font-size: 14px;
  }

  footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0px 20px 0 40vw;

    font-family: "ALS_Sector_Regular_2.0";
    font-size: 15px;
  }


  .art-lebedev-logo {
    margin-bottom: 0vh;
  }

  .is-copyright p{
    text-align: center;
    margin-top: 10%;

    font-family: "ALS_Sector_Regular_2.0",sans-serif;
    font-size: 14px;
  }



  #about-us p{
    font-size: 16px;
    line-height: 22px;
    padding: 20px 20px 20px 20px;
  }

  #about-us h1{

    padding: 20px 20px 20px 20px;
    font-size: 30px;
    line-height: 40px;
  }

  #about-us {
    z-index: 1;
    position: fixed;

    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.30);
    backdrop-filter: blur(20px);


    overflow: scroll;

    padding-bottom: 100%;


    right: -100%;


    -moz-tranzition: all 600ms;
    -webkit-tranzition: all 600ms;
    transition: all 600ms;
  }

  #about-us.active{
    right: 0%
  }


  #about-us.close{
    right: -100%;

  }

}
