* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@-webkit-keyframes flash {
   0%, 50%, 100% {
   opacity: 1;
   }

   25%, 75% {
   opacity: 0;
   }
}

 @keyframes flash {
   0%, 50%, 100% {
   opacity: 1;
   }

   25%, 75% {
   opacity: 0;
   }
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



body {
  background: #000000;
  overflow-x: hidden;
}

p, li, h1, h2{
  color: #ffffff;
}


nav{
  align-items: flex-start;
  font-family: "ALS_Sector_Regular_2.0", sans-serif;
}

nav a{
  padding: 8px 10px 8px 10px;
}


.contacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a {
  /* text-decoration: underline; */
  color: #ffffff;

}



.main{
  font-family: "ALS_Sector_Bold_2.0",sans-serif;
  font-size: 16px;
  line-height: 20px;
  max-width: 340px;
}


.body li, p, h1, a {
  text-shadow: 1px 1px 5px rgba(0,0,0,0.30);
  border-radius: 17px;
}


.main li{
 cursor: pointer;
 display: inline-block;
 padding: 8px 10px 8px 10px;
 border-radius: 17px;
}



.main li:hover {
  -moz-tranzition: all 0.2s ease-in-out;
  -webkit-tranzition: all  0.2s ease-in-out;
  transition: all  0.2s ease-in-out;

  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  background: rgba(255,220,191,0.24);

  text-shadow: 1px 1px 5px rgba(0,0,0,0.0);

  box-shadow: 0px 0 10px 0 rgba(0,0,0,0.15);
}


.contacts a:hover {
  -moz-tranzition: all 0.2s ease-in-out;
  -webkit-tranzition: all  0.2s ease-in-out;
  transition: all  0.2s ease-in-out;

  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  background: rgba(255,220,191,0.24);

  text-shadow: 1px 1px 5px rgba(0,0,0,0.0);

  box-shadow: 0px 0 10px 0 rgba(0,0,0,0.15);
}



#rotate{
  -moz-tranzition: all 0.3s ease-in-out;
  -webkit-tranzition: all  0.3s ease-in-out;
  transition: all  0.3s ease-in-out;

}



#rotate.forward{
  -webkit-animation: rotate-center 0.3s ease-in 0s;
	        animation: rotate-center 0.3s ease-in 0s;
}

/* #rotate.back{
  -webkit-animation: rotate-center 0.3s ease-in 0s;
	        animation: rotate-center 0.3s ease-in 0s;
} */


#li-about.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}

#li-germanium.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}

#li-germanium-granules.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}

#li-germanium-optics.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}

#li-germanium-dioxide.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}

#li-polycrystalline-germanium.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}

#li-silicon.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}

#li-zinc-salenide.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}

#li-zinc-sulfide.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}

#li-recycling.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

  /* mix-blend-mode: normal; */
}



#li-contact-us.active{
  animation: flash 2.5s infinite;
  animation-timing-function: linear;
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-timing-function: linear;

}

.is-studio-logo{
  font-family: "ALS_Sector_Regular_2.0", sans-serif;
  font-size: 16px;
}

.is-studio-logo p{
  margin-top: 5px;
}


.sidebar-about-us, .sidebar-germanium, .sidebar-germanium-granules, .sidebar-germanium-optics, .sidebar-germanium-dioxide, .sidebar-polycrystalline-germanium, .sidebar-silicon, .sidebar-zinc-selenide, .sidebar-zinc-sulfide, .sidebar-recycling, .sidebar-contact-us{
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: rgba(0,0,0,0.1);
  /* background: #3B3B3B; */
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar-germanium img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sidebar-germanium-granules img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sidebar-germanium-dioxide img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sidebar-polycrystalline-germanium img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sidebar-silicon img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sidebar-zinc-selenide img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#eye{
  position: absolute;
  z-index: -100;

}

#about-us {


  width: 100%;
  height: 100%;

  padding-bottom: 100%;


  bottom: 110%;

  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;

}

#about-us.active{
  bottom: 0%;
}


#germanium{

  width: 100%;
  height: 100%;


  overflow-y: scroll;


  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#germanium{
  bottom: 0%
}




#germanium-granules{

  width: 100%;
  height: 100%;

  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#germanium-granules{
  bottom: 0%
}



#germanium-optics{


  width: 100%;
  height: 100%;

  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#germanium-optics{
  bottom: 0%
}




#germanium-dioxide{

  width: 100%;
  height: 100%;

  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#germanium-dioxide{
  bottom: 0%
}


#polycrystalline-germanium{

  width: 100%;
  height: 100%;

  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#polycrystalline-germanium{
  bottom: 0%
}



#silicon{

  width: 100%;
  height: 100%;

  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#silicon{
  bottom: 0%
}




#zinc-selenide{

  width: 100%;
  height: 100%;

  overflow-y: scroll;



  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#zinc-selenide{
  bottom: 0%
}

#zinc-selenide img{
  width: 100%;
}



#zinc-sulfide{

  width: 100%;
  height: 100%;

  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#zinc-sulfide{
  bottom: 0%
}

#zinc-sulfide img{
  width: 100%;
}


#recycling{


  width: 100%;
  height: 100%;

  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#recycling{
  bottom: 0%
}



#contact-us{


  width: 100%;
  height: 100%;

  padding-bottom: 100%;


  bottom: 110%;


  -moz-tranzition: all 600ms;
  -webkit-tranzition: all 600ms;
  transition: all 600ms;
}

#contact-us{
  bottom: 0%
}




.sidebar p{
  font-family: "ALS_Sector_Regular_2.0",sans-serif;
}


.sidebar h1{
  font-family: "ALS_Sector_Bold_2.0",sans-serif;
}


.toggle-btn-cancel{
  position: sticky;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  background: #272727;
  border-radius: 19.5px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  top: 0px;
  left: 45%;


  cursor: pointer;

}

.toggle-btn-cancel img{
  margin: auto;
  text-align: center;
  display: block;

}

input{
  width: 100vw;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  font-size: inherit;
  padding: 10px 10px 10px 10px;

  background: rgba(0, 0, 0, 0.0);

  color: #F9F9F9;


  font-family: "ALS_Sector_Regular_2.0";

  caret-color: white;

  outline: none;

  margin-top: 50px;

  text-align: left;
}


input:last-of-type{

  margin-top: 100px;

}


input::-webkit-input-placeholder {

  opacity: 0.51;

  color: #F9F9F9;

}


.sidebar-contact-us{
  display: flex;
  flex-direction: column;
}

button{

  cursor: pointer;

  font-family: "ALS_Sector_Regular_2.0";

  color: #F9F9F9;

  background: rgba(0,0,0,0.26);
  border-radius: 12px;

  text-align: center;

  width: 175px;
  height: 50px;

  display: block;

  margin: 50px auto;

  border-width: 0px;
}

button:hover{

  background: #F6A01B;
  border-radius: 12px;
}
